<% layout('/layout/boilerplate.ejs') %>

<body class=" bg-gray-100">
    <form action="/listening" method="post" class="bg-white p-6 rounded-lg shadow-lg w-80 flex flex-col">
        <h1 class="text-center text-lg font-bold text-gray-700 mb-5">Add New Listing</h1>
        <input 
            type="text" 
            name="title" 
            placeholder="Enter your title" 
            class="mb-4 p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-400"
        >
        <textarea 
            name="description" 
            placeholder="Enter your description" 
            class="mb-4 p-2 border border-gray-300 rounded resize-none h-20 focus:outline-none focus:ring-2 focus:ring-blue-400"
        ></textarea>
        <input 
            type="number" 
            name="price" 
            placeholder="Enter your price" 
            class="mb-4 p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-400"
        >
        <input 
            type="text" 
            name="location" 
            placeholder="Enter your location" 
            class="mb-4 p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-400"
        >
        <input 
            type="text" 
            name="country" 
            placeholder="Enter your country" 
            class="mb-4 p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-400"
        >
        <button 
            type="submit" 
            class="py-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-600 transition"
        >
            Submit
        </button>
    </form>
</body>

